<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
    <div class="pure-form">
        <fieldset>
            <input type="button" name="btnLocation" value="Get Location" class="pure-button pure-button-primary">
        </fieldset>
    </div>

    <h1>What's your location?</h1>

    <form class="pure-form">
        <input type="number" name="latitud" placeholder="Latitud" autofocus step="any" required>
        <input type="number" name="longitud" placeholder="Longitud" autofocus step="any" required>
        <input type="submit" value="Go!" class="pure-button pure-button-primary">
    </form>

    <script src="/main.js"></script>
</body>
</html>